* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "Barlow", sans-serif;
  position: relative;
  z-index: 2;
  background: url('./images/desktop/image-header.jpg');
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 25px;
  color: white;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 25px;
  text-decoration: none;
  color: white;
}

/* .nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
} */

.nav > #nav-check {
  display: none;
}

.contact-btn {
  border-radius: 20px;
  padding: 10px 14px;
  font-weight: bolder;
  font-size: 18px;
  background: white;
  font-family: "Barlow", sans-serif;
  border: none;
}

@media (max-width: 700px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 20px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    color: white;
  }
  /* .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  } */
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid white;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color:black;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(40vh - 50px);
    overflow-y: auto;
  }
  .contact-btn {
    border-radius: 20px;
    padding: 10px 14px;
    font-weight: bolder;
    font-size: 18px;
    background: yellow;
    font-family: "Barlow", sans-serif;
    border: none;
  }
}

/* HERO */

.hero {
  position: relative;
  height: 90vh;
  background: url('./images/desktop/image-header.jpg') center/cover no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 100px; 
}

.hero img {
  max-width: 600px;
  height: 130px;
  margin-bottom: 180px; 
}

@media (max-width: 700px) {
  .hero img { 
    max-width: 600px;
  height: 120px;
  margin-bottom: 240px;
  }
}




